#dodaj{
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background: #f2ebc9;
    border: 1px solid #3c3a31;
    border-radius: 15px;
    margin-top: 70px;
    margin-left: 50px;
    font-size:20px;
    
}
header{
    display: grid;
    grid-template-columns: 40fr 40fr;
}
#dodaj:hover{
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background: #d6d0b0;
    border: 1px solid #3c3a31;
    border-radius: 15px;
    margin-bottom: 15px;
}
.log{
    text-align: right;
}
.pow{
    text-align: left;
}
#dodaj img{
width: 66px;
height: 66px;
margin: 5px;

}
#middle1{
    margin-left: 250px;
}
#powrot
{
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
}
#powrot img
{
    margin-bottom: 10px;
    margin-left: 10px;
}

.przychod1 {
    background-color: #88bfab;
    text-align: center;
    width: 350px;
    border-radius: 15px;
    margin-right: 10px;
}
.row{
    flex: 1;
    margin-bottom: 10px;
}
#right
{
    margin-top: 70px;
    margin-right: 20px;
}
