.wydatek1 {
    background-color: #f27457;
    text-align: center;
    width: 350px;
    border-radius: 15px;
}

#wydatki1 {
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    height: 450px;
    overflow: auto;
}
